*{
    margin: 0;
    padding: 0;
}
*,*:before,*:after{
	box-sizing: inherit;
}

html{
	box-sizing: border-box;
}

body{
    background-color: #668C4E;
    position: relative;
    padding: 0;
    margin: 0;
}

/*ANIMATION - HEADER*/

header{
    width: 100%;
}

.Yawarra{
    font-family: 'Benne', serif;
    font-size: 72pt;
    color: #4b1404;

    left:0;
    right:0;
    top: 0;
  
    margin-left: auto;
    margin-right: auto;
  
    position: absolute;
    width: 40%;
    text-align: center;
}


.banner-animation-topleft{
    width: 580px;
    height: 200px;
    background: transparent url(/Yawarra/images/sprite_topleft.png) 0 0 no-repeat;
    animation: grower 1.5s steps(8);
}

.banner-animation-topright{
    width: 520px;
    height: 200px;
    position: absolute;
    top: 0;
    right: 0;
    background: transparent url(/Yawarra/images/sprite_topright.png) no-repeat;
    animation: grower 1.5s steps(8);
}

@keyframes grower {
    from{
        background-position: 0 0;
    }
    to{
        background-position: 0 -1600px;
    }
}

/*NAVIGATION BAR*/

nav.topnav{
    width: 90%;
    margin: 0 5%;
}

nav li{
    display: inline-block;
    width: 20%;
    text-align: center;
    border-bottom: white solid 2px;
    padding: 10px;
}

nav li>a{
    color: white;
    text-decoration: none;
    font-family: Roboto, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

nav li.current{
    padding-bottom: 15px;
}


@media (max-width:800px) {
    #Yawarra{
        width: 80%;
    }

    nav li{
        width: 100%;
    }
    
}